@model List<Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.Name</h1>
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model) {
        <tr>
            <td>@book.Name</td>
            <td>@book.Year</td>            
            <td>
                <a asp-controller="Library" asp-action="Edit"
                   asp-route-id="@book.BookId"
                   class="btn btn-primary">Edit</a>
                <a asp-controller="Library" asp-action="Delete"
                   asp-route-id="@book.BookId"
                   class="btn btn-primary">Delete</a>
            </td>
        </tr>
        }          
    </tbody>
</table>
<!-- Add Button --> 
</div>
